
{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/bees/robotic/robotic_apiary_header.png",
			"fileBody" : "/interface/bees/robotic/robotic_apiary_body.png",
			"fileFooter" : "/interface/bees/robotic/robotic_apiary_footer.png"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"press" : "/interface/xpress.png",
			"position" : [231, 181]
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [36, 31],
			"dimensions" : [2, 8],
			"spacing" : [19, 19],
			"backingImage" : "/interface/bees/robotic/beeslot.png"
		},
		"itemGrid2" : {
			"type" : "itemgrid",
			"slotOffset" : 16,
			"position" : [74, 31],
			"dimensions" : [2, 8],
			"spacing" : [19, 19],
			"backingImage" : "/interface/bees/robotic/frameslot.png"
		},
		"outputItemGrid" : {
			"type" : "itemgrid",
			"slotOffset" : 32,
			"position" : [132, 31],
			"dimensions" : [6, 6],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/grayborder.png"
		},
		"Hive8" : {
			"type" : "label",
			"value" : "Hive 8",
			"hAnchor" : "left",
			"position" : [5, 31]
		},
		"Hive7" : {
			"type" : "label",
			"value" : "Hive 7",
			"hAnchor" : "left",
			"position" : [5, 50]
		},
		"Hive6" : {
			"type" : "label",
			"value" : "Hive 6",
			"hAnchor" : "left",
			"position" : [5, 69]
		},
		"Hive5" : {
			"type" : "label",
			"value" : "Hive 5",
			"hAnchor" : "left",
			"position" : [5, 88]
		},
		"Hive4" : {
			"type" : "label",
			"value" : "Hive 4",
			"hAnchor" : "left",
			"position" : [5, 107]
		},
		"Hive3" : {
			"type" : "label",
			"value" : "Hive 3",
			"hAnchor" : "left",
			"position" : [5, 126]
		},
		"Hive2" : {
			"type" : "label",
			"value" : "Hive 2",
			"hAnchor" : "left",
			"position" : [5, 145]
		},
		"Hive1" : {
			"type" : "label",
			"value" : "Hive 1",
			"hAnchor" : "left",
			"position" : [5, 164]
		},
		"bugHarvesterSlot" : {
			"type" : "itemslot",
			"position" : [132, 155],
			"showCount" : true,
			"showRarity" : true,
			"showDurability" : false,
			"backingImage" : "/interface/inventory/empty.png",
			"rightClickCallback" : "null"
		}
	},
	"scripts" : ["/interface/bees/robotic/robotic_apiary_GUI.lua"],
	"scriptWidgetCallbacks" : [
		"bugHarvesterSlot"
	],
	"scriptDelta" : 2
}
